<body style="overflow-x: hidden;">
  <header>
  <div class="pic1">
    <%= link_to canadas_path do %>
      <%= image_tag "can1" %>
    <%end%>
  </div>

  <div style="margin-top: -123px;
    margin-left: 542px;">
    <%= image_tag "we", class: "mySlides"%>
    <%= image_tag "visi", class: "mySlides"%>
    <%= image_tag "imii", class: "mySlides"%>
    <%= image_tag "study", class: "mySlides"%>
    <%= image_tag "wok", class: "mySlides"%>
  </div>
</header>
  <script type="text/javascript">
    var myIndex = 0;
    carousel();

    function carousel()
    {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 5000); // Change image every 2 seconds
    }
  </script>
  <div class="row">
  <div class="col-md-12" style="margin-top: 45px;">
 <p  class="pic2"></p>
 </div>
 </div>
</body>
